<div style="background-color: gray;">
<table>
    <tr>
      <th>Cédula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Correo</th>
    </tr>

    <ng-container *ngFor="let cliente of clientes">
        <tr>
            <td>{{ cliente.cedula }}</td>
            <td>{{ cliente.nombres }}</td>
            <td>{{ cliente.apellidos }}</td>
            <td>{{ cliente.celular }}</td>
            <td>{{ cliente.correo }}</td>
        </tr>
    </ng-container>
</table>

<div>
    <button mat-button color="primary" (click)="crearCliente()">Crear nuevo</button>
</div>

</div>