<p>
  <mat-toolbar color="primary">
      <span>SISTEMA CONCIERTO</span>
      <span style="margin-left: 20px;"></span>
      <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->
      <button mat-icon-button (click)="iniciarVentas()">
        iniciar
        <mat-icon>flag</mat-icon>
      </button>

      <span style="margin-left: 40px;"></span>

      <button mat-icon-button>
        Obtener
        <mat-icon>flag</mat-icon>
      </button>

      <span style="margin-left: 40px;"></span>

      <button mat-icon-button [routerLink]="['/concierto']">
        Editar Concierto
        <mat-icon>tour</mat-icon>
      </button>


  </mat-toolbar>
</p>
